.contact_from{
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap:4vh;
    /* border: 1px solid red; */
    box-shadow: 10px 10px 10px 10px rgba(187, 231, 245, 0.5);
    border-radius: 0.5em;
    margin-left: 28vw;
    margin-top: 3vh;
    padding: 2em 2em;
    margin-bottom: 5vh;
}
.name{
    padding: 0.8em 1em;
    outline: none;
    border-radius: 0.5em;
    border: none;
    background-color: #ededed;
}
.email{
    padding: 0.8em 1em;
    outline: none;
    border-radius: 0.5em;
    border: none;
    background-color: #ededed;
}
.phone{
    padding: 0.8em 1em;
    outline: none;
    border-radius: 0.5em;
    border: none;
    background-color: #ededed;
}
.address{
    padding: 0.8em 1em;
    outline: none;
    border-radius: 0.5em;
    border: none;
    background-color: #ededed;
}
.dist{
    padding: 0.8em 1em;
    outline: none;
    border-radius: 0.5em;
    border: none;
    background-color: #ededed;
}
.message{
    padding: 2em 1em;
    outline: none;
    border-radius: 0.5em;
    border: none;
    background-color: #ededed;
}
#submit_btn{
    width: 10vw;
    margin-left: 15vw;
}
.contact>h2{
    text-align: center;
    margin-top: 4vh;
    font-family: cursive;
}